.git
.local
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info
dist
build
.env
.env.*
*.log
safety_ai_app/logs/
safety_ai_app/data/rag_logs/
safety_ai_app/data/chroma_db/
safety_ai_app/temp_docs_local/
safety_ai_app/downloads_temp/
safety_ai_app/token_user.json
safety_ai_app/token_user.pickle
safety_ai_app/tests/
safety_ai_app/scripts/
safety_ai_app/docs/
*.md
.replit
replit.nix
