streamlit==1.49.1
openai==1.107.3
sentence-transformers==5.1.0
pypdf==6.0.0
markdown==3.9
google-auth-oauthlib==1.2.2
google-api-python-client==2.181.0
google-auth-httplib2==0.2.0
requests==2.32.5
chromadb==1.1.0
langchain-core==0.3.75
langchain-community==0.3.29
langchain==0.3.27
langchain-text-splitters==0.3.0
langchain-google-genai==2.1.12
python-docx==1.2.0
python-dotenv==1.1.1
rank-bm25==0.2.2
ddgs==9.6.0
langchain-openai==0.3.33
